<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
            <ng-container>
                RELACION DE USUARIOS ASIGNACION
            </ng-container>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <ng-container >
            <div class="mt-5">
                <form action="#" class="form form-label-right" (ngSubmit)="save()" [formGroup]="formGroup">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>DNI</label>
                            <input 
                                type="text"
                                class="form-control form-control-lg form-control-solid"
                                autocomplete="off"
                                placeholder="DNI"
                                formControlName="dni"
                            />
                        </div>
                        <div class="col-lg-4">
                            <label>Nombre Completo</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Nombre completo"
                                formControlName="fullName"
                            />
                        </div>
                        <div class="col-lg-4">
                            <label>Correo</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Correo"
                                formControlName="email"
                            />
                        </div>
                    </div>
                    <div class="form-group row">    
                        <div class="col-lg-4">
                            <label for="">Departamento</label>
                            <div class="example-button-row">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Lista de departamentos</mat-label>
                                    <mat-select multiple (selectionChange)="getSelectedOptions($event)">
                                        <mat-option *ngFor="let departament of departaments" [id]="departament.code" [value]="departament.code">{{departament.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Provincia</label>
                            <div class="example-button-row">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Provincias</mat-label>
                                    <mat-select multiple >
                                      <mat-optgroup *ngFor="let group of provinceGroups" [label]="group.description"
                                                    [disabled]="group.disabled">
                                        <mat-option *ngFor="let pokemon of group.provinces" [value]="pokemon.description">
                                          {{pokemon.code}}
                                        </mat-option>
                                      </mat-optgroup>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Distrito</label>
                            <div class="example-button-row">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Distritos</mat-label>
                                    <mat-select multiple>
                                      <mat-optgroup *ngFor="let group of provinceGroups" [label]="group.description"
                                                    [disabled]="group.disabled">
                                        <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.description">
                                          {{pokemon.code}}
                                        </mat-option>
                                      </mat-optgroup>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Centro Poblado</label>
                            <div class="example-button-row">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Centros poblados:</mat-label>
                                    <mat-select multiple>
                                        <mat-optgroup *ngFor="let group of provinceGroups" [label]="group.description"
                                                        [disabled]="false">
                                            <mat-option *ngFor="let pokemon of group.provinces" [value]="pokemon.description" (click)="selectProvince($event)">
                                            {{pokemon.code}}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>     
                    </div>
                    <div class="float-right">
                    <a
                        class="btn btn-default font-weight-bold mr-2"
                        >Cancelar</a
                    >
                    <button
                        type="submit"
                        class="btn btn-primary font-weight-bold mr-2"
                    >
                        Guardar
                    </button>
                    </div>
                </form>
                <div style="display: none;"> {{ utcTime$ | async }}</div>
                
            </div>
        </ng-container>
    </div>
</div>