<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-sm">
            Cambiar contraseña
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container>
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="form-label">Ingrese su contraseña actual</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Actual contraseña"
                            autocomplete="off"
                            formControlName="password"
                            required
                        />
                    </div>
                    <div class="col-lg-12">                    
                      <label class="form-label">New Password</label>
                      <input type="password"
                        class="form-control form-control-lg form-control-solid"
                        placeholder="New password"
                        autocomplete="off"
                        formControlName="password"
                        [class.is-invalid]="isControlInvalid('password')"
                        [class.is-valid]="isControlValid('password')" 
                      />
                    </div>
                    <div class="col-lg-12">
                      <label class="form-label">Verify Password</label>
                      <input type="password"
                        class="form-control form-control-lg form-control-solid"
                        placeholder="Confirm password"
                        autocomplete="off"
                        formControlName="cPassword"
                        [class.is-invalid]="isControlInvalid('cPassword')"
                        [class.is-valid]="isControlValid('cPassword')" 
                      />
                      <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Las contraseñas coinciden.</div>
                      <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">Las contraseñas no coinciden.</div> 
                    </div>                
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light btn-elevate mr-2"
          (click)="modal.dismiss();  showLeftBar()"
        >
          Cancel
        </button>
        <ng-container >
          <button
            type="submit"
            class="btn btn-primary btn-elevate"
          >
            Save
          </button>
        </ng-container>
    </div>
</div>
