<div class="card card-custom gutter-b">
  <ng-container *ngIf="isLoading$ | async">
    <div class="progress progress-modal">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container>
           BENEFICIARIO
      <!--    <span *ngIf="product && product.id"
            >'{{ product.manufacture }} {{ product.model }} -
            {{ product.modelYear }}'</span
          > -->
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
    <!-- button-->
    </div>
  </div>
  <div class="card-body">
    <ng-container >
      <div class="mt-5">
        <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>Codigo Beneficiario</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                placeholder="Codigo Beneficiario" name="beneficiary_code" [class.is-invalid]="isControlInvalid('model')"
                [class.is-valid]="isControlValid('model')" formControlName="model"/>
              <div class="feedback" *ngIf="!isControlTouched('model')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('model')">
                Model was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'model')">
                Model is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'model')">
                Model should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'model')">
                Model should have maximum 100 symbols
              </div>
            </div>
   
            <div class="col-lg-4">
              <label>Dni</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>

            <div class="col-lg-4">
              <label>BOLETA</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  
                  <button class="btn btn-primary font-weight-bold" type="button" (click)="create()">Add</button>
                </div>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" 
              placeholder="Eligue su Boleta" name="VINCode" [class.is-invalid]="isControlInvalid('VINCode')"
                [class.is-valid]="isControlValid('VINCode')" formControlName="VINCode"/>
              <div class="feedback" *ngIf="!isControlTouched('VINCode')">
                Please enter <b>VIN code</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('VINCode')">
                VIN code was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'VINCode')">
                VIN code is required
              </div>
            </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-4">
              <label>Usuario Creación</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>

            <div class="col-lg-4">
              <label>Fecha Creación</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>

            <div class="col-lg-4">
              <label>Hora Creación</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>
          </div>


          <div class="form-group row">
           
            <div class="col-lg-4">
              <label>Telefono1</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>  

            <div class="col-lg-4">
              <label>Telefono2</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>  

            <div class="col-lg-4">
              <label>Nota</label>
              <input type="textarea" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>  

            <div class="col-lg-4">
              <label>Inporte Total a Pagar</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>  

            <div class="col-lg-4">
              <label>Inporte Pendiente a Pagar</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>  

            <div class="col-lg-4">
              <label>Inporte A Cobrar</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Dni Beneficiario" name="beneficiary_dni" [class.is-invalid]="isControlInvalid('modelYear')"
                [class.is-valid]="isControlValid('modelYear')" formControlName="modelYear"/>
              <div class="feedback" *ngIf="!isControlTouched('modelYear')">
                Please enter <b>Model</b>
              </div>
              <div class="valid-feedback" *ngIf="isControlValid('modelYear')">
                Model year was entered correct
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'modelYear')">
                Model year is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'modelYear')">
                Model year should have at least 3 symbols
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'modelYear')">
                Model year can't be less than 1900
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'modelYear')">
                Model year can't be more than 2023
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'modelYear')">
                Model year should have maximum 100 symbols
              </div>
            </div>  



          </div>

         

          <div class="float-right">
            <a
              class="btn btn-default font-weight-bold mr-2"
              routerLink="/ecommerce/products"
              >Cancel</a
            >
            <button
              type="submit"
              class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </ng-container>

  



  </div>
</div>
