<div class="modal-header">
    <h4 class="modal-title">Subir Archivo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" style="display: block !important;">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <input type="file" multiple (change)="onSelectFile($event)">
        <pre *ngIf="archivoUploaded">
            {{ archivoUploaded.name }}
        </pre>
        <p>Arrastra tus archivos aquí o haz click en esta área.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" (click)="enviarArchivo()">Cargar Archivo</button>
</div>