<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Crear Usuario
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container>
            <form action="#" class="form form-label-right">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label class="form-label">Usuario</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Ingrese su usuario"
                            autocomplete="off"
                            formControlName="userName"
                            readonly
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Email</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Ingrese su email"
                            autocomplete="off"
                            formControlName="email"
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            name="name"
                            placeholder="Ingrese su nombre"
                            autocomplete="off"
                            formControlName="name"
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Segundo Nombre</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Ingrese su segundo nombre"
                            autocomplete="off"
                            formControlName="lastName"
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Apellido Paterno</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            name="fatherLastname"
                            placeholder="Ingrese su apellido Paterno"
                            autocomplete="off"
                            formControlName="fatherLastname"
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Apellido Materno</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            name="motherLastname"
                            placeholder="Ingrese su apellido materno"
                            autocomplete="off"
                            formControlName="motherLastname"
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Teléfono 1</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Ingrese su primer teléfono"
                            autocomplete="off"
                            formControlName="phonenumber1"
                        />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label">Teléfono 2</label>
                        <input
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            name="name"
                            placeholder="Ingrese su segundo teléfono"
                            autocomplete="off"
                            formControlName="phonenumber2"
                        />
                    </div>          
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-light btn-elevate mr-2"
            (click)="modal.dismiss(); showLeftBar()"
        >
          Cancel
        </button>
        <ng-container>
            <button
                type="submit"
                class="btn btn-primary btn-elevate"
            >
                Save
            </button>
        </ng-container>
    </div>
</div>
