<h2 mat-dialog-title>TICKET</h2>

<div mat-dialog-content>
  

  <mat-form-field class="example-form-field" appearance="fill" >
    <mat-label>Favorite Animal</mat-label>
    <input matInput >
  </mat-form-field>



  <mat-form-field class="example-form-field"  appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

</div>
<mat-dialog-content class="mat-typography">



  
  

     <!--begin::Item-->
     <div class="col-12" *ngFor="let d of data.deuda">
       <!--begin::Content-->
       <div class="d-flex align-items-center flex-grow-1">
         <!--begin::Checkbox-->
         <label class="checkbox checkbox-lg checkbox-lg flex-shrink-0 mr-4">
           <input type="checkbox" [checked]="d.Checked==='true'"  value="{{d.Codigo_Factura}}" (click)="add($event)" />
           <span></span>
         </label>
         <!--end::Checkbox-->
 
         <!--begin::Section-->
         <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
           <!--begin::Info-->
           <div class="d-flex flex-column align-items-cente py-2 w-100">
             <!--begin::Title-->
             <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg">
              Codigo_Factura:{{d.Codigo_Factura}}
             </a>
             <!--end::Title-->
             <span class="text-muted font-weight-bold">Periodo:{{d.Periodo}} </span>
             
             <!--begin::Data-->
    
             <span class="text-muted font-weight-bold">Fecha_Vencimiento:{{d.Fecha_Vencimiento}}</span>
             <span class="text-muted font-weight-bold">Monto_Total:{{d.Monto_Total}} </span>
             <span class="text-muted font-weight-bold">Monto_Pagado:{{d.Monto_Pagado}} </span>
             <span class="text-muted font-weight-bold">Monto_Apagar:{{d.Monto_Apagar}} </span>
             <!--end::Data-->
           </div>
           <!--end::Info-->
         </div>
         <!--end::Section-->
       </div>
       <!--end::Content-->
     </div>
     <!--end::Item-->


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="BotonClose()">Install</button>
</mat-dialog-actions>
 




 
 



     