 <!--begin::List Widget 10-->
 <div class="card card-custom">
    <!--begin::Header-->
    <div class="modal-header">
     <h4 class="modal-title">Ticket</h4>
     <button type="button" class="close" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <!--end::Header-->
  
   <div class="modal-header">
    <form class="form-inline">
    

    </form>
    
    <hr/>
    <pre>From date model: {{ fromDate | json }}</pre>
    <pre>To date model: {{ toDate | json }}</pre>

 
   </div>
 
 
 
  <!--begin::Body-->
  <div class="card-body pt-0">
    
     <!--begin::Item-->
     <div class="mb-6">
       <!--begin::Content-->
       <div class="d-flex align-items-center flex-grow-1">
         
         <!--begin::Checkbox-->
         <label class="checkbox checkbox-lg checkbox-lg flex-shrink-0 mr-4">
           <input type="checkbox" value="40" (change)="add($event)" />
           <span></span>
         </label>
         <!--end::Checkbox-->
 
         <!--begin::Section-->
         <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
           <!--begin::Info-->
           <div class="d-flex flex-column align-items-cente py-2 w-75">
             <!--begin::Title-->
             <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
               Codigo de factura: F001-123456
             </a>
             <!--end::Title-->
 
             <!--begin::Data-->
             <span class="text-muted font-weight-bold"> Periodo: 08/2021 </span>
             <span class="text-muted font-weight-bold"> Fecha de vencimiento: 3/09/2021 </span>
             <span class="text-muted font-weight-bold"> Monto total: S/ 100.00 </span>
             <span class="text-muted font-weight-bold"> Monto Pagado: S/ 60.00 </span>
             <span class="text-muted font-weight-bold"> Monto a pagar: S/ 40.00 </span>
             <!--end::Data-->
           </div>
           <!--end::Info-->
         </div>
         <!--end::Section-->
       </div>
       <!--end::Content-->
     </div>
     <!--end::Item-->
 
     <!--begin::Item-->
     <div class="mb-6">
       <!--begin::Content-->
       <div class="d-flex align-items-center flex-grow-1">
         <!--begin::Checkbox-->
         <label class="checkbox checkbox-lg checkbox-lg flex-shrink-0 mr-4">
           <input type="checkbox" value="40" />
           <span></span>
         </label>
         <!--end::Checkbox-->
 
         <!--begin::Section-->
         <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
           <!--begin::Info-->
           <div class="d-flex flex-column align-items-cente py-2 w-75">
             <!--begin::Title-->
             <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
               Codigo de factura: F001-123456
             </a>
             <!--end::Title-->
 
             <!--begin::Data-->
             <span class="text-muted font-weight-bold"> Periodo: 08/2021 </span>
             <span class="text-muted font-weight-bold"> Fecha de vencimiento: 3/09/2021 </span>
             <span class="text-muted font-weight-bold"> Monto total: S/ 100.00 </span>
             <span class="text-muted font-weight-bold"> Monto Pagado: S/ 60.00 </span>
             <span class="text-muted font-weight-bold"> Monto a pagar: S/ 40.00 </span>
             <!--end::Data-->
           </div>
           <!--end::Info-->
         </div>
         <!--end::Section-->
       </div>
       <!--end::Content-->
     </div>
     <!--end::Item-->
     <!--begin::Item-->
     <div class="mb-6">
       <!--begin::Content-->
       <div class="d-flex align-items-center flex-grow-1">
         <!--begin::Checkbox-->
         <label class="checkbox checkbox-lg checkbox-lg flex-shrink-0 mr-4">
           <input type="checkbox" value="40" />
           <span></span>
         </label>
         <!--end::Checkbox-->
 
         <!--begin::Section-->
         <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
           <!--begin::Info-->
           <div class="d-flex flex-column align-items-cente py-2 w-75">
             <!--begin::Title-->
             <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
               Codigo de factura: F001-123456
             </a>
             <!--end::Title-->
 
             <!--begin::Data-->
             <span class="text-muted font-weight-bold"> Periodo: 08/2021 </span>
             <span class="text-muted font-weight-bold"> Fecha de vencimiento: 3/09/2021 </span>
             <span class="text-muted font-weight-bold"> Monto total: S/ 100.00 </span>
             <span class="text-muted font-weight-bold"> Monto Pagado: S/ 60.00 </span>
             <span class="text-muted font-weight-bold"> Monto a pagar: S/ 40.00 </span>
             <!--end::Data-->
           </div>
           <!--end::Info-->
         </div>
         <!--end::Section-->
       </div>
       <!--end::Content-->
     </div>
     <!--end::Item-->
 
     <!--begin::Item-->
     <div class="mb-6">
       <!--begin::Content-->
       <div class="d-flex align-items-center flex-grow-1">
         <!--begin::Checkbox-->
         <label class="checkbox checkbox-lg checkbox-lg flex-shrink-0 mr-4">
           <input type="checkbox" value="40" />
           <span></span>
         </label>
         <!--end::Checkbox-->
 
         <!--begin::Section-->
         <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
           <!--begin::Info-->
           <div class="d-flex flex-column align-items-cente py-2 w-75">
             <!--begin::Title-->
             <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
               Codigo de factura: F001-123456
             </a>
             <!--end::Title-->
 
             <!--begin::Data-->
             <span class="text-muted font-weight-bold"> Periodo: 08/2021 </span>
             <span class="text-muted font-weight-bold"> Fecha de vencimiento: 3/09/2021 </span>
             <span class="text-muted font-weight-bold"> Monto total: S/ 100.00 </span>
             <span class="text-muted font-weight-bold"> Monto Pagado: S/ 60.00 </span>
             <span class="text-muted font-weight-bold"> Monto a pagar: S/ 40.00 </span>
             <!--end::Data-->
           </div>
           <!--end::Info-->
         </div>
         <!--end::Section-->
       </div>
       <!--end::Content-->
     </div>
     <!--end::Item-->
   
   </div>
   <button type="button" class="btn btn-primary" (click)="botonClick()">Nuevo Pago</button>
   <!--end: Card Body-->
 </div>
 <!--end: Card-->
 <!--end: List Widget 10-->