<form action="#" class="form form-label-right">
    <div class="form-group row">
        <div class="col-lg-4">
            <label for="roles">Usuario</label>
            <input 
                type="text" 
                class="form-control form-control-lg form-control-solid"
                placeholder="Escriba el dni del usuario"
                formControlName="secondName"
            />
        </div>
        <div class="col-lg-4">
            <label>Título de la tarea</label>
            <input 
                type="text" 
                class="form-control form-control-lg form-control-solid"
                placeholder="Nombre de la tarea"
                formControlName="secondName"
            />
        </div>
        <div class="col-lg-4">
            <label>Fecha creación</label>
            <input 
                type="date" 
                class="form-control form-control-lg form-control-solid"
                placeholder="Apellido paterno"
                formControlName="lastName"
            />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <label>Fecha caducidad</label>
            <input 
                type="date" 
                class="form-control form-control-lg form-control-solid"
                placeholder="Apellido paterno"
                formControlName="lastName"
            />
        </div>
        <div class="col-lg-8">
            <label>Descripcion de la tarea</label>
            <textarea name="" id="" cols="100" rows="5" class="form-control form-control-lg form-control-solid"></textarea>
        </div>
    </div>
    <div class="float-right">
    <a
        class="btn btn-default font-weight-bold mr-2"
        >Cancelar</a
    >
    <button
        type="submit"
        class="btn btn-primary font-weight-bold mr-2"
    >
        Guardar
    </button>
    </div>
</form>