<ng-container *ngIf="extrasUserDisplay">
  <ng-container  *ngIf="false">
    <ng-container *ngIf="user$ | async as _user">
      <div class="topbar-item">
        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
          id="kt_quick_user_toggle">
         
          <span class="symbol symbol-35 symbol-light-success">
            <span class="symbol-label font-size-h5 font-weight-bold">{{
              _user.name | firstLetter
            }}</span>
          </span>
          <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">&nbsp;&nbsp;{{ _user.userName }}</span>

        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container >
    <ng-container *ngIf="user$ | async as _user">
      <div class="dropdown" ngbDropdown placement="bottom-right">
        <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px" ngbDropdownToggle>
          <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2">

            <span class="symbol symbol-35 symbol-light-success">
              <span class="symbol-label font-size-h5 font-weight-bold">{{
                _user.name | firstLetter
              }}</span>
            </span>
            <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">&nbsp;&nbsp;{{ _user.userName }}</span>
  

          </div>
        </div>
        <div ngbDropdownMenu
          class="dropdown-menu p-0 m-0 dropdown-menu-center dropdown-menu-anim-up dropdown-menu-lg p-0">         
          <button class="dropdown-item">
            <span
                [inlineSVG]="'./assets/media/svg/icons/Tools/Tools.svg'"
                cacheSVG="true"
                class="svg-icon menu-icon"
            ></span>&nbsp;&nbsp;Perfil</button>
          <button class="dropdown-item"><span
            [inlineSVG]="'./assets/media/svg/icons/General/Lock.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
        ></span>&nbsp;&nbsp;Cambiar contraseña</button>
          
          <div class="p-5">
            <button class="btn btn-danger btn-elevate" (click)="logout()">Cerrar Sesion</button>
          </div>
          
        </div>
        
      </div>
    </ng-container>
  </ng-container>
</ng-container>