<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Lista de documentos a cobrar
        </div>
        
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="row" [formGroup]="searchGroup">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <small class="form-text text-muted"><b>Fecha Inicio</b> | Seleccionar fecha</small>
                            <div class="input-group">
                              <input class="form-control" readonly placeholder="Fecha Inicio" name="dp" 
                              formControlName="dateIn"
                              ngbDatepicker #ds="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-primary" (click)="ds.toggle()" type="button">
                                    <span
                                    [inlineSVG]="'./assets/media/svg/icons/Weather/Cloudy.svg'"
                                    cacheSVG="true"
                                    class="svg-icon menu-icon"
                                  ></span>
                                </button>
                              </div>
                            </div>
                          </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="form-group">
                            <small class="form-text text-muted"><b>Fecha Fin</b> | Seleccionar fecha</small>
                            <div class="input-group">
                              <input class="form-control" readonly placeholder="Fecha Fin" 
                              formControlName="dateFn"
                              name="dp" ngbDatepicker #de="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-primary" (click)="de.toggle()" type="button">
                                    <span
                                    [inlineSVG]="'./assets/media/svg/icons/Weather/Cloudy.svg'"
                                    cacheSVG="true"
                                    class="svg-icon menu-icon"
                                  ></span>
                                </button>
                              </div>
                            </div>
                          </div>
                    </div>
    
                </div>
            </div>
        </div>
        <ng-container>
            <div class="col-12" *ngFor="let document of documentsForPay | async">
                <div class="d-flex align-items-center flex-grow-1">
                    <label class="checkbox checkbox-lg checkbox-lg flex-shrink-0 mr-4">
                        <input type="checkbox" [checked]="document.checked"  value="{{document.id}}" (change)="eventCheck($event.target)" />
                        <span></span>
                    </label>
                    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                        <div class="d-flex flex-column align-items-cente py-2 w-100">
                            <a class="text-dark-75 font-weight-bold text-hover-primary font-size-lg">
                                {{document.serie}} - {{document.correlative}}
                            </a>
                            <span class="text-muted font-weight-bold">Total a Pagar S/ {{document.pending}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-light btn-elevate mr-2"
            (click)="modal.dismiss()"
            >Cerrar
        </button>
        <ng-container>
            <button
                type="submit"
                class="btn btn-primary btn-elevate"
                (click)="closeDialog()"
            >Aceptar
            </button>
        </ng-container>
    </div>
</div>
