<ng-container>
<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container >
         <!-- <ng-container *ngIf="customer.id">Edit</ng-container> -->
          <ng-container >Crear</ng-container>
          Usuario
          <ng-container 
            >customer.firstName customer.lastName </ng-container
          >
        </ng-container>
      </div>
    </div>
    <div
      class="overlay overlay-block cursor-default modal-body"
      style="min-height: 404px"
    >
      <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>
  
      <ng-container >
        <form action="#" class="form form-label-right">
          <div class="form-group row">

            <div class="col-lg-4">
              <label>Seleccionar Persona</label>
              <select
                class="form-control form-control-lg form-control-solid"
                name="people"
                [class.is-invalid]="isControlInvalid('people')"
                formControlName="people"
              >
                <option value="TPJ">Persona Juridica</option>
                <option value="TPN">Persona Natural</option>
                <option value="SND">Sujeto No Domiciliario</option>
                <option value="AT">Adquiriente - Ticket</option>
              </select>
              <!--<div class="feedback">Please select <b>Gender</b></div>-->
            </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar primer nombre</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                name="firstName"
                placeholder="Primer nombre"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('firstName')"
                [class.is-valid]="isControlValid('firstName')"
                formControlName="firstName"
              />
              <div class="valid-feedback" *ngIf="isControlValid('firstName')">
                El primer nombre se ingresó correctamente
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'firstName')"
              >
              El primer nombre es requerido
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'firstName')"
              >
              El primer nombre debe tener al menos 3 caracteres
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxlength', 'firstName')"
              >
              El primer nombre debe tener un máximo de 100 caracteres
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar segundo nombre</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid is-invalid"
                name="lastName"
                placeholder="Segundo nombre"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('lastName')"
                [class.is-valid]="isControlValid('lastName')"
                formControlName="lastName"
              />
              <div class="valid-feedback" *ngIf="isControlValid('lastName')">
                El segundo nombre se ingresó correctamente
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'lastName')"
              >
              El segundo nombre es requerido
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('minlength', 'lastName')"
              >
              El segundo nombre debe tener al menos 3 caracteres
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('maxLength', 'lastName')"
              >
              El segundo nombre debe tener un máximo de 100 caracteres
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar primer apellido</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  name="firstApellido"
                  placeholder="Primer Apellido"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('firstApellido')"
                  [class.is-valid]="isControlValid('firstApellido')"
                  formControlName="firstApellido"
                />
                <div class="valid-feedback" *ngIf="isControlValid('firstApellido')">
                  El primer apellido se ingresó correctamente
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'firstApellido')"
                >
                El primer apellido es requerido
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('minlength', 'firstApellido')"
                >
                El primer apellido debe tener al menos 3 caracteres
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('maxlength', 'firstApellido')"
                >
                El primer apellido debe tener un máximo de 100 caracteres
                </div>
              </div>
  
              <div class="col-lg-4">
                <label class="form-label">Ingresar segundo apellido</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid is-invalid"
                  name="lastApellido"
                  placeholder="Segundo Apellido"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('lastApellido')"
                  [class.is-valid]="isControlValid('lastApellido')"
                  formControlName="lastApellido"
                />
                <div class="valid-feedback" *ngIf="isControlValid('lastApellido')">
                  El segundo apellido se ingresó correctamente
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'lastApellido')"
                >
                El segundo apellido es requerido
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('minlength', 'lastApellido')"
                >
                El segundo apellido debe tener al menos 3 caracteres
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('maxLength', 'lastApellido')"
                >
                El segundo apellido debe tener un máximo de 100 caracteres
                </div>
              </div>

              <div class="col-lg-4">
                <label class="form-label">Ingresar Razón Social</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid is-invalid"
                  name="businessName"
                  placeholder="Razón Social"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('businessName')"
                  [class.is-valid]="isControlValid('businessName')"
                  formControlName="businessName"
                />
                <div class="valid-feedback" *ngIf="isControlValid('businessName')">
                  La razón social se ingresó correctamente
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'businessName')"
                >
                La razón social es requerido
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('minlength', 'businessName')"
                >
                La razón debe tener al menos 3 caracteres
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('maxLength', 'businessName')"
                >
                La razón social debe tener un máximo de 100 caracteres
                </div>
              </div>
            
          </div>

          <div class="form-group row">

            <div class="col-lg-4">
                <label>Select Tipo Documento</label>
                <select
                  class="form-control form-control-lg form-control-solid"
                  name="documentType"
                  [class.is-invalid]="isControlInvalid('documentType')"
                  formControlName="documentType"
                >
                  <option value="0">Otros Tipos de Documento</option>
                  <option value="1">Documento Nacional de Identidad</option>
                  <option value="4">Carnet Extranjeria</option>
                  <option value="6">Registro Unico de Contribuyentes</option>
                  <option value="7">Pasaporte</option>
                </select>
               <!--<div class="feedback">Please select <b>Gender</b></div>-->
              </div>

              <div class="col-lg-4">
              <label class="form-label">Ingresar Número de Identidad</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                name="document"
                placeholder="Ejm. 70213603"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('document')"
                [class.is-valid]="isControlValid('document')"
                formControlName="document"
              />
              <div class="valid-feedback" *ngIf="isControlValid('document')">
                El documento fue ingresado correctamente
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar Telefono 1</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  name="firstPhone"
                  placeholder="Teléfono 1"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('firstPhone')"
                  [class.is-valid]="isControlValid('firstPhone')"
                  formControlName="firstPhone"
                />
                <div class="valid-feedback" *ngIf="isControlValid('firstPhone')">
                  Telefono 1 fue ingresado correctamente
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'firstPhone')"
                >
                Telefono 1 es requerido
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('firstPhone', 'firstPhone')"
                >
                Formato del Telefono 1 es incorrecto
                </div>
              </div>

              <div class="col-lg-4">
                <label class="form-label">Ingresar Telefono 2</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  name="secondPhone"
                  placeholder="Teléfono 2"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('secondPhone')"
                  [class.is-valid]="isControlValid('secondPhone')"
                  formControlName="secondPhone"
                />
                <div class="valid-feedback" *ngIf="isControlValid('secondPhone')">
                  Telefono 2 fue ingresado correctamente
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'secondPhone')"
                >
                Telefono 2 es requerido
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('secondPhone', 'secondPhone')"
                >
                Formato del Telefono 2 es incorrecto
                </div>
              </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar Email</label>
              <input
                type="email"
                class="form-control form-control-lg form-control-solid"
                name="email"
                placeholder="Email"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('email')"
                [class.is-valid]="isControlValid('email')"
                formControlName="email"
              />
              <div class="valid-feedback" *ngIf="isControlValid('email')">
                Email fue ingresado correctamente
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('required', 'email')"
              >
              Email es requerido
              </div>
              <div
                class="invalid-feedback"
                *ngIf="controlHasError('email', 'email')"
              >
              El formato del Email es incorrecto
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar Ubigeo</label>
                <input
                type="text"
                  class="form-control form-control-lg form-control-solid"
                  name="ubigeo"
                  placeholder="Ubigeo"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('ubigeo')"
                  [class.is-valid]="isControlValid('ubigeo')"
                  formControlName="ubigeo"
                />
                <div class="valid-feedback" *ngIf="isControlValid('ubigeo')">
                  Ubigeo fue ingresado correctamente
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ubigeo')"
                >
                Ubigeo es requerido
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('email', 'ubigeo')"
                >
                El formato del ubigeo es incorrecto
                </div>
              </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar Dirección Referencial</label>
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                name="address"
                placeholder="Ejm. Jr. Ejemplo"
                autocomplete="off"
                [class.is-invalid]="isControlInvalid('address')"
                [class.is-valid]="isControlValid('address')"
                formControlName="address"
              />
              <div class="valid-feedback" *ngIf="isControlValid('ipAddreaddressss')">
                Dirección Referencial fue ingresado correctamente
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label">Ingresar Longitud</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  name="longitude"
                  placeholder="Longitud"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('longitude')"
                  [class.is-valid]="isControlValid('longitude')"
                  formControlName="longitude"
                />
                <div class="valid-feedback" *ngIf="isControlValid('longitude')">
                  Longitud fue ingresado correctamente
                </div>
              </div>

              <div class="col-lg-4">
                <label class="form-label">Ingresar Latitud</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  name="latitude"
                  placeholder="Latitud"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('latitude')"
                  [class.is-valid]="isControlValid('latitude')"
                  formControlName="latitude"
                />
                <div class="valid-feedback" *ngIf="isControlValid('latitude')">
                  Latitud fue ingresada correctamente
                </div>
              </div>
              
          </div>

          <div class="form-group row">  
            <div class="col-lg-4">
                <div>
                  <label class="form-label">Fotografía frontal</label>
                </div>
              <div class="image-input image-input-outline" id="kt_profile_avatar" [class.image-input-empty]=" " [style.backgroundImage]="'url(./assets/media/users/blank.png)'">
                  <div class="image-input-wrapper" [style.backgroundImage]="getPic()"></div>
                      <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                        data-action="change"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Change avatar"
                      >
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                        <input type="hidden" name="profile_avatar_remove" formControlName="pic" />

                      </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                </div>
                <span class="form-text text-muted">Tipos de archivo permitidos: png, jpg, jpeg.</span>
          
            </div>

            <div class="col-lg-4">
                <div>
                  <label class="form-label">Fotografía posterior</label>
                </div>
              <div class="image-input image-input-outline" id="kt_profile_avatar" [class.image-input-empty]=" " [style.backgroundImage]="'url(./assets/media/users/blank.png)'">
                  <div class="image-input-wrapper" [style.backgroundImage]="getPic()"></div>
                      <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                        data-action="change"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Change avatar"
                      >
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                        <input type="hidden" name="profile_avatar_remove" formControlName="pic" />
                      </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                        <span
                          class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          (click)="deletePic()"
                          data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                </div>
                <span class="form-text text-muted">Tipos de archivo permitidos: png, jpg, jpeg.</span>
          
            </div>

            <div class="col-lg-4">
                <div>
                  <label class="form-label">Imagen Contrato: Frontal</label>
                </div>
              <div class="image-input image-input-outline" id="kt_profile_avatar" [class.image-input-empty]=" " [style.backgroundImage]="'url(./assets/media/users/blank.png)'">
                  <div class="image-input-wrapper" [style.backgroundImage]="getPic()"></div>
                      <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                        data-action="change"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Change avatar"
                      >
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                        <input type="hidden" name="profile_avatar_remove" formControlName="pic" />
                      </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                        <span
                          class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          (click)="deletePic()"
                          data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                </div>
                <span class="form-text text-muted">Tipos de archivo permitidos: png, jpg, jpeg.</span>
          
            </div>

            <div class="col-lg-4">
                <div>
                  <label class="form-label">Imagen Contrato: Posterior</label>
                </div>
              <div class="image-input image-input-outline" id="kt_profile_avatar" [class.image-input-empty]=" " [style.backgroundImage]="'url(./assets/media/users/blank.png)'">
                  <div class="image-input-wrapper" [style.backgroundImage]="getPic()"></div>
                      <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                        data-action="change"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Change avatar"
                      >
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                        <input type="hidden" name="profile_avatar_remove" formControlName="pic" />
                      </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                        <span
                          class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                          (click)="deletePic()"
                          data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                          <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                </div>
                <span class="form-text text-muted">Tipos de archivo permitidos: png, jpg, jpeg.</span>
          
            </div>

            
          </div>

        </form>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
      >
      Cancelar
      </button>
      <ng-container>
        <button
          type="submit"
          class="btn btn-primary btn-elevate"
          [disabled]="formGroup.invalid"
        >
          Guardar
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>