<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
            <ng-container>
                COBRO
            </ng-container>
            </h3>
        </div>
        <div class="card-toolbar">
            <a
                type="button"
                class="btn btn-primary"
                routerLink="/payment-management/payment/list"
                >Lista de pagos</a
            >
        </div>
    </div>
    <div class="card-body">
        <ng-container >
            <div class="mt-5">
                <form action="#" class="form form-label-right" (ngSubmit)="save()" [formGroup]="formGroup">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Codigo de Beneficiario</label>
                            <input 
                                type="text"
                                class="form-control form-control-lg form-control-solid"
                                autocomplete="off"
                                placeholder="Código de Factura" 
                                name="invoiceCode"
                                [class.is-invalid]="isControlInvalid('invoiceCode')"
                                [class.is-valid]="isControlValid('invoiceCode')"
                                formControlName="invoiceCode"
                            />
                            <span class="form-text text-muted" *ngIf="span">Boleta N° 0001</span>
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'invoiceCode')"
                            >
                                Código de factura es requerido
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Dni</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Dni Beneficiario" 
                                name="beneficiaryDni"
                                [class.is-invalid]="isControlInvalid('beneficiaryDni')"
                                [class.is-valid]="isControlValid('beneficiaryDni')"
                                formControlName="beneficiaryDni"
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'beneficiaryDni')"
                            >
                                Dni del beneficiario es requerido
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>BOLETA</label>
                            <div class="input-group mb-3">
    

                                
                                <div class="example-button-row">
                                
                                    <mat-form-field class="example-chip-list" appearance="fill">
                                        <mat-label>Favorite Fruits</mat-label>
                                        <mat-chip-list #chipList aria-label="Fruit selection">
                                          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                                   [removable]="removable" (removed)="remove(fruit)">
                                            {{fruit.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                          </mat-chip>
                                          <input placeholder="New fruit..."
                                                 [matChipInputFor]="chipList"
                                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                 [matChipInputAddOnBlur]="addOnBlur"
                                                 (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>
                                      </mat-form-field>
                                </div>

                                <button mat-button matSuffix mat-stroked-button aria-label="search" color="warn" (click)="createModal()">
                                    <mat-icon>+</mat-icon>
                                </button>


                                <div
                                    class="invalid-feedback"
                                    *ngIf="controlHasError('required', 'VINCode')"
                                >
                                   Boleta es requerido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Usuario Creación</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Usuario de creación" 
                                name="createdUser"
                                [class.is-invalid]="isControlInvalid('createdUser')"
                                [class.is-valid]="isControlValid('createdUser')"
                                formControlName="createdUser"
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'createdUser')"
                            >
                                Usuario de creación es requerido
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Fecha Creación</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Fecha de creación" 
                                name="createdDate" 
                                readonly
                                formControlName="createdDate"
                                value={{fecha_actual}}
                            />
                        </div>
                        <div class="col-lg-4">
                            <label>{{hora_actual |date:'hh:mm:ss'}}</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Hora de creación" 
                                name="createdHour" 
                                readonly
                                value="{{hora_actual |date:'hh:mm:ss'}}"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Telefono1</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Ingrese teléfono 1" 
                                name="phonenumber1"
                                [class.is-invalid]="isControlInvalid('phonenumber1')"
                                [class.is-valid]="isControlValid('phonenumber1')"
                                formControlName="phonenumber1"
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'phonenumber1')"
                            >
                                Número de teléfono es requerido
                            </div>
                        </div>  
                        <div class="col-lg-4">
                            <label>Telefono2</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Ingrese teléfono 2" 
                                name="phonenumber2"
                                [class.is-invalid]="isControlInvalid('phonenumber2')"
                                [class.is-valid]="isControlValid('phonenumber2')"
                                formControlName="phonenumber2"
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'phonenumber2')"
                            >
                                Número de teléfono es requerido
                            </div>
                        </div>  
                        <div class="col-lg-4">
                            <label>Nota</label>
                            <input 
                                type="textarea" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Ingrese una nota si así lo desea" 
                                name="note"
                                [class.is-invalid]="isControlInvalid('note')"
                                [class.is-valid]="isControlValid('note')"
                                formControlName="note"
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'note')"
                            >
                                Nota es requerido
                            </div>
                        </div>  
                        <div class="col-lg-4">
                            <label>Importe Total a Pagar</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Ingrese el importe a pagar" 
                                name="totalPay"

                 
   
                                [class.is-invalid]="isControlInvalid('totalPay')"
                                [class.is-valid]="isControlValid('totalPay')"
                                formControlName="totalPay"
                                value="{{payment.totalPay}}"
                                readonly
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'totalPay')"
                            >
                                Importe a pagar es requerido
                            </div>
                        </div>  
                        <div class="col-lg-4">
                            <label>Importe Pendiente a Pagar</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Importe por pagar" 
                                name="mountToPay"


               

                                [class.is-invalid]="isControlInvalid('mountToPay')"
                                [class.is-valid]="isControlValid('mountToPay')"
                                formControlName="mountToPay"
                                value="{{payment.totalPay}}"
                                readonly
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'mountToPay')"
                            >
                                Importe por pagar requerido
                            </div>
                        </div>  
                        <div class="col-lg-4">
                            <label>Importe a Cobrar</label>
                            <input 
                                type="text" 
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Monto a cobrar" 
                                name="mountToCollect"

                                [class.is-invalid]="isControlInvalid('mountToCollect')"
                                [class.is-valid]="isControlValid('mountToCollect')"
                                formControlName="mountToCollect"
                                value="{{payment.totalPay}}"
                                readonly
                            />
                            <div
                                class="invalid-feedback"
                                *ngIf="controlHasError('required', 'mountToCollect')"
                            >
                                Monto a cobrar es requerido
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                    <a
                        class="btn btn-default font-weight-bold mr-2"
                        >Cancelar</a
                    >
                    <button
                        type="submit"
                        class="btn btn-primary font-weight-bold mr-2"
                    >
                        Guardar
                    </button>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
</div>

