<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
    <a routerLink="/" class="brand-logo">
        <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <ng-container *ngIf="asideSelfMinimizeToggle">
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
        <span
            [inlineSVG]="
            './assets/media/svg/icons/Navigation/Angle-double-left.svg'
            "
            cacheSVG="true"
            class="svg-icon svg-icon-xl"
        ></span>
        </button>
    </ng-container>
</div>
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <ng-container *ngIf="disableAsideSelfDisplay">
        <a routerLink="/">
        <img alt="Logo" [attr.src]="headerLogo"  />
        </a>
    </ng-container>
    <div
        id="kt_aside_menu"
        class="aside-menu"
        [ngClass]="asideMenuCSSClasses"
        data-menu-vertical="1"
        [attr.data-menu-scroll]="asideMenuScroll"
        [attr.data-menu-dropdown]="asideMenuDropdown"
        data-menu-dropdown-timeout="500"
    >
        <ul class="menu-nav" [ngClass]="ulCSSClasses">
            <li
                class="menu-item"
                aria-haspopup="true"
                routerLinkActive="menu-item-active"
            >
                <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
                <span
                    [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li class="menu-section">
                <h4 class="menu-text">Administración</h4>
                <i class="menu-icon flaticon-more-v2"></i>
            </li>
            <li
                class="menu-item menu-item-submenu"
                aria-haspopup="true"
                data-menu-toggle="hover"
                routerLinkActive="menu-item-open"
            >
                <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/admin"
                >
                <span
                    [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">Usuarios</span>
                <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    <li
                    class="menu-item"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    routerLinkActive="menu-item-active"
                    > 
                    <a
                        class="menu-link"
                        routerLink="/admin/users"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Usuarios Internos</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    routerLinkActive="menu-item-active"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/agents"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Agente de Cobros</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    routerLinkActive="menu-item-active"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/ubigeo"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Ubigeo</span>
                    </a>
                    </li>
                </ul>
                </div>
            </li>
            <li class="menu-section">
                <h4 class="menu-text">Aplicaciones</h4>
                <i class="menu-icon flaticon-more-v2"></i>
            </li>
            <li
                class="menu-item menu-item-submenu"
                aria-haspopup="true"
                data-menu-toggle="hover"
                routerLinkActive="menu-item-open"
            >
                <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/applications"
                >
                <span
                    [inlineSVG]="'./assets/media/svg/icons/Shopping/Dollar.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">Gestion de cobros</span>
                <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/payment"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Registrar Pago</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/documents"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Documentos</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/beneficiaries"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Beneficiarios</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/payments"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Pagos</span>
                    </a>
                    </li>
                </ul>
                </div>
            </li>
            <li
            class="menu-item menu-item-submenu"
            aria-haspopup="true"
            data-menu-toggle="hover"
            routerLinkActive="menu-item-open"
            >
                <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/admin"
                >
                <span
                    [inlineSVG]="'./assets/media/svg/icons/Shopping/Box2.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">Gestion de cierre</span>
                <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/boxsquare"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Registrar Cierre</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/boxsquareme"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Mis Cierres</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="/admin/boxsquares"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Lista de Cierres</span>
                    </a>
                    </li>
                </ul>
                </div>
            </li>
            <li
            class="menu-item menu-item-submenu"
            aria-haspopup="true"
            data-menu-toggle="hover"
            routerLinkActive="menu-item-open"
            >
                <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/utilities"
                >
                <span
                    [inlineSVG]="'./assets/media/svg/icons/Tools/Tools.svg'"
                    cacheSVG="true"
                    class="svg-icon menu-icon"
                ></span>
                <span class="menu-text">Utilidades</span>
                <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="#"
                        routerLink="/admin/tasks"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Tareas</span>
                    </a>
                    </li>
                    <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    >
                    <a
                        class="menu-link"
                        routerLink="#"
                        routerLink="/admin/notes"
                        routerLinkActive="active"
                    >
                        <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                        </i>
                        <span class="menu-text">Notas</span>
                    </a>
                    </li>
                </ul>
                </div>
            </li>
        </ul>
    </div>
</div>