<div class="modal-content">
    <form action="#" class="form form-label-right" (ngSubmit)="save()" [formGroup]="formGroup">
        <div class="modal-header">
            <h4 class="modal-title">Crear Tarea</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" style="display: block !important;">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-lg-4">
                    <label>Usuario</label>
                    <input 
                        type="text" 
                        class="form-control form-control-lg form-control-solid"
                        placeholder="Escriba el dni del usuario"
                        (ngModelChange)="mostrar($event)"
                        formControlName="fullname"
                    />
                    <div class="results" *ngIf="isLoadingSearchDni">
                        <ul>
                          <li *ngFor="let item of SearchDni">
                            <a class="name" (click)="selectBeneficiary(item)">
                              {{item.name}} {{item.secondName}} {{item.lastName}} {{item.secondLastName}}
                            </a>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Título de la tarea</label>
                    <input 
                        type="text" 
                        class="form-control form-control-lg form-control-solid"
                        placeholder="Nombre de la tarea"
                        formControlName="title"
                    />
                </div>
                <div class="col-lg-4">
                    <label>Fecha creación</label>
                    <input 
                        type="date" 
                        class="form-control form-control-lg form-control-solid"
                        placeholder="Apellido paterno"
                    />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label>Fecha caducidad</label>
                    <input 
                        type="date" 
                        class="form-control form-control-lg form-control-solid"
                        placeholder="Apellido paterno"
                        formControlName="expiration"
                    />
                </div>
                <div class="col-lg-8">
                    <label>Descripcion de la tarea</label>
                    <textarea name="" id="" cols="100" rows="5" class="form-control form-control-lg form-control-solid" formControlName="description"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
        </div>
    </form>
</div>